body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 3px;
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

p {
    margin: 0px;
}

li {
    list-style: none;
    display: inline;
}

a:link, a:visited {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    padding-left: 10px;
  }
  
  a:hover, a:active {
    color: hotpink;
  }


.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
}
/* footer/header stuff */

.footer, .header {
    display: flex;
    background-color: #1f2937;
    width: 100%;
    align-items: center;
    width: 100%;
    justify-content: center;
    color: #e5e7eb;
    height: 50px;
}

#headertext {
    color: #f9faf8;
    font-size: 24px;
}

.nav {
    justify-content: space-between;
    display: flex;
    width: 70%;
    align-items: center;
}
/* top container content */
.top-content {
    display: flex;
    background-color: #1f2937;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.topcenter {
    gap: 35px;
    margin: 35px 0px 70px;
    display: flex;
    width: 70%;
}

.topbox {
    width: 70%;
    display: flex;
    flex-direction: column;
}

#button {
    border-radius: 4px; 
    background-color: #3882F6;
    width: 100px;
    color: #f9faf8;
    text-align: center;
    padding: 4px;
    margin: 10px 5px 5px 0px;
 }

#placeholderimg {
    background-color: rgb(79, 79, 79);
    justify-content: center;
    align-items: center;
}

/* 2nd row */
#boxcontainer {
    display: flex;
    gap: 10px;
    width: 60%;
    justify-content: space-between;
}

h3 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    margin: 25px 0px;
}

.second-row {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
    margin-bottom: 50px;
}

.center {
    width: 150px;
}

.imgbox {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: solid #3882F6 4px;
}

/* third row */

#third-row {
    color: #1f2937;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quote {
    width: 60%;
    text-align: center;
    margin-top: 100px;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

#thor {
    text-align: right;
    width: 55%;
    margin-bottom: 100px;
    font-weight: 700;
}

/* forth row */

#forth-row {
    display: flex;
    justify-content: center;
    margin: 75px 0px;
}

#ad {
    width: 50%;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 50px 100px;
    justify-content: space-between;
    color: white;
    display: flex;
    align-items: center;
}

#ad-text {
    font-weight: 700;
    font-size: 20px;
}

#ad-button {
    border: white solid 2px;
    border-radius: 5px;
    padding: 5px 15px;
    text-align: center;
    width: 100px;
    height: min-content;
}