body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
}


.footer, .header {
    display: flex;
    background-color: #1f2937;
    width: 100%;
    align-items: center;
    width: 100%;
    justify-content: center;
    color: #e5e7eb;
    height: 50px;
}

.nav {
    justify-content: space-between;
    display: flex;
    width: 70%;
    align-items: center;
}

.cont1 {
    display: flex;
    background-color: #1f2937;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.test {
    width: 70%;
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
}